.footer {
    background-color: $dark;

    &__info {
        color: $white;
        padding: 5rem 20rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;

        @media(max-width: 48rem) {
            padding: 3rem 5rem;
        }
    }
}