.hero {
    &__bg {
        height: 75rem;
        background-image: url('../assets/img/hero.jpg');
        background-size: cover;


        &::before {
            content: '';
            height: 75rem;
            position: absolute;
        }
    }

    &__info {
        padding: 30rem 49rem 9rem 5rem;
    }

    &__title {
        font-weight: 700;
        font-size: 6.4rem;
        color: #FFF;
        padding-bottom: 2rem;
    }

    &__subtitle {
        color: #FFF;
        font-weight: 400;
        font-size: 2.6rem;
        text-transform: uppercase;
    }

    @media(max-width: 48rem) {
        &__info {
            padding: 40rem 5rem 0;
        }

        &__title {
            font-size: 4rem;
        }

        &__subtitle {}
    }
}